<!-- <!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Pdf Parser</title>
  </head>
  <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <div class="file_list">
            </div>
            <button id="increase" type="button">Elave et</button>
            <button id="btn" type="submit">Convert</button>
          </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>

    <script>
      $("#increase").click(function(e) {
          $(".file_list").append("<input type='file' name='myfile'><br>");
      });
      
    </script>
</body>
</html> -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'templates/css/main.css' %}">
    <title>PDF Parser</title>
</head>
<body>

<div class="take-pdf">
    <form action="/" class="dropzone needsclick dz-clickable" id="demo-upload">
      {% csrf_token %}
      <input type="hidden" name='token' value='{{ path }}'>
        <div class="dz-message needsclick">
            Drop files here or click to upload.<br>
            <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
        </div>
    </form>
    <br>
    <form action="/" method="POST">
      {% csrf_token %}
      <input type="hidden" name='complete' value="true">
      <input type="hidden" name='token' value='{{ path }}'>
      <input type="submit" value="TAMAMLA">
    </form>
</div>

      <script src="{% static 'templates/js/dropzone.js' %}"></script>
<script>
Dropzone.options.dropzone = {
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize: 2, // MB
  sending: function (file, xhr, formData) {
      formData.append('csrfmiddlewaretoken', "{{ csrf_token }}"); // add csrf token
      formData.append('path', '{{ path }}'); // send each image data
  }

};
</script>
</body>

